<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CoreBot.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables />
      </aspNetCore>
    </system.webServer>
  </location>
  <appSettings>
    <add key="BingAppId" value="00df56db5228458d89962de3bcd0a715"/>
  </appSettings>
</configuration>
<!--ProjectGuid: 0793F52D-82C5-4C6E-967B-606676CF8B17-->